name: Hello DevOps

on:
  push:
    branches:
    - '**'

jobs:
  demo:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout Code
        uses: actions/checkout@v4 

      - name: Set permissions
        run: chmod +x hello.py

      - name: Run hello.py
        run: python hello.py
